/*========= 【全体】レイアウト =========*/

body {
    font-size: 14px;
    font-family: "游ゴシック体", "Yu Gothic", YuGothic, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
    /* font-family: "游明朝体", "Yu Mincho", YuMincho, "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;*/
}


/**** 【全体】ヘッダー header ****/

.header {
    /*    background: #2b84b2 url("https://ssl-stat.amebame.com/pub/content/8633993418/c489166992652728a49cbbaeb0ca1af8_eb0cf3453f464c5f9c9b568b3e7c09df.png") 50% 100% / 1400px auto no-repeat !important;*/
    background: #000 !important;
    color: #fff;
    padding: 0;
    height: 300px;
    position: relative;
}

.header {}

.header__inner {}

/*リンク色*/

.u-nav-bg-clr a,
.header a {}

/*背景色*/
.u-nav-bg-clr {
    background: #fff;
}


/*サイトタイトル*/

.header__site-info {
    padding: 120px 0 0;
}

.header__logo {}

.header__nav {
    position: absolute;
    width: 100%;
    bottom: 0;
}


/**** 【全体】キービジュアル keyvisual ****/

.keyvisual__title {
    font-size: 38px;
}

.keyvisual__description {
    font-size: 16px;
}


/**** 【全体】グローバルナビ global-nav ****/

.global-nav__list {}

.global-nav__item {}


/*現在地*/

.global-nav__item--active > a::after {
    border-color: #fff;
}


/**** 【全体】フッター footer ****/

.footer {}

.footer__inner {}

.footer__item {}

.footer__copyright {}

.powered-by {}


/**** 【ページ】キービジュアル ****/

.keyvisual {}

.keyvisual__image {}


/**** 【ページ】ページコンテナ ****/

.page__container {}

.page-container__main {}

.page__content {}

.page__main {}


/* 【ページ】ページタイトル */

.grid--title {}

.grid--title .heading-lv1__text {
    color: #a36233;
}